.pay-with-internet-banking {
	&.overview-basis {
		.header {
			div {
				@include col;
				justify-content: center;

				svg {
					@include mx-auto;
					height: 20px;
					margin-bottom: 8px;
				}

				@media (min-width: $tablet) {
					@include row;

					svg {
						height: 40px;
						width: 52px;
						margin-left: 0;
						margin-right: 6px;
					}

					h1 {
						display: flex;
						align-items: center;
						margin-left: 6px;
					}
				}

				@media (min-width: $desktop-width) and (min-height: $desktop-height) {
					svg {
						margin-right: 10px;
					}

					h1 {
						margin-left: 10px;
					}
				}
			}
		}

		form {
			margin-bottom: 24px;
			padding-bottom: 0;
			.btns {
				@include col;
				margin-top: 20px;

				a {
					@include btn-sm;

					span {
						margin-right: 6px;
					}

					&:nth-child(2) {
						@include btn-sm-reverse;
						margin-top: 8px;
					}
				}
			}

			@media (min-width: $tablet) {
				margin-bottom: 24px;
				.btns {
					margin-top: 16px;

					a {
						@include btn-tablet;
					}
				}
			}

			@media (min-width: $desktop-width) and (min-height: $desktop-height) {
				margin-bottom: 40px;
				.btns {
					margin-top: 28px;

					a {
						@include btn-sm-desktop;
					}
				}
			}
		}
	}
}
