.pay-other-method {
	&.overview-basis {
		form {
			.specific-info {
				@include row;
				align-items: center;
				margin-top: 8px;

				svg {
					path {
						fill: $h2-color;
					}
				}

				p {
					font-size: 12px;
					line-height: 1;
					margin: 0;
					margin-left: 4px;
					color: $h2-color;
				}
			}

			@media (min-width: $tablet) {
				padding-bottom: 0;
				margin-bottom: 130.8px;
			}

			@media (min-width: $desktop-width) and (min-height: $desktop-height) {
				> div {
					label {
						input {
							padding-left: 12px;
						}
					}
				}

				.specific-info {
					p {
						font-size: 14px;
						line-height: 1.25;
					}
				}
			}
		}
	}
}
