.payment-info {
	position: absolute;
	top: -160px;
	width: 272px;
	margin-left: -12px;

	h2 {
		text-transform: uppercase;
		font-size: 10px;
		line-height: 1.6;
		color: $h2-payment-color;
		margin: 0;

		&:first-child {
			margin-bottom: 4px;
		}

		&:nth-child(2) {
			margin-bottom: 8px;
		}
	}

	.to-pay {
		margin-bottom: 16px;

		div {
			color: #fff;
			font-size: 24px;
			line-height: 1;
			font-weight: 600;
		}
	}

	.dealer {
		margin-bottom: 24px;

		p {
			color: #fff;
			font-size: 14px;
			line-height: 1.4;
			font-weight: bold;
			margin: 0;
			margin-bottom: 2px;
		}

		a {
			color: #fff;
			font-size: 14px;
			line-height: 1.4;
			font-weight: 300;
		}
	}

	@media (min-width: $tablet) {
		margin-left: -24px;
		top: -230px;

		h2 {
			font-size: 12px;

			&:first-child {
				margin-bottom: 8px;
			}

			&:nth-child(2) {
				margin-bottom: 12px;
			}
		}

		.to-pay {
			margin-bottom: 40px;

			div {
				font-size: 28px;
				line-height: 1.6;
			}
		}

		.dealer {
			margin-bottom: 0;

			p {
				font-size: 16px;
				line-height: 1.7;
			}

			a {
				font-size: 16px;
				line-height: 1.7;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	@media (min-width: $desktop-width) and (min-height: $desktop-height) {
		left: 600px;
		top: 50%;
		margin-top: -25%;
		margin-left: 0;
	}
}
