@import url("http://fonts.cdnfonts.com/css/sofia-pro");
html {
  height: 100%;
  width: 100%; }

body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  width: 100%;
  font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
  position: relative;
  overflow-x: hidden;
  background-color: #343a3f; }
  body #app {
    height: 100%;
    width: 100%; }

h1 {
  margin: 0; }

input {
  font-family: inherit; }

main {
  color: #c1c7cd;
  height: 100%;
  width: 100%; }
  main nav {
    padding: 12px;
    display: flex;
    flex-direction: row; }
    main nav > div {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: flex-end; }
  main button {
    height: 32px;
    border: 1px solid #4d5358;
    border-radius: 4px;
    color: #c1c7cd;
    background-color: transparent;
    font-family: inherit;
    cursor: pointer;
    flex-shrink: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }
    main button.close {
      width: 32px;
      line-height: 0; }
    main button.info {
      display: flex;
      flex-direction: row;
      width: 109px;
      justify-content: space-around;
      align-items: center;
      font-size: 12px;
      line-height: 1.3; }
      main button.info :first-child {
        line-height: 0; }
  @media (min-width: 768px) {
    main nav {
      padding: 24px; }
    main button {
      height: 40px;
      border-width: 2px; }
      main button svg path {
        transition: all 0.3s; }
      main button.close {
        display: flex;
        flex-direction: row;
        width: 184px;
        font-size: 14px;
        line-height: 1.3;
        align-items: center;
        justify-content: space-around;
        transition: all 0.3s; }
        main button.close:hover {
          background: #4d5358;
          border-color: #a2a9b0;
          color: #fff; }
          main button.close:hover svg path {
            fill: #fff; }
      main button.info {
        width: 143px;
        font-size: 14px;
        line-height: 1.3;
        justify-content: center;
        transition: all 0.3s; }
        main button.info div {
          margin-left: 8px; }
        main button.info:hover {
          background: #4d5358;
          border-color: #a2a9b0;
          color: #fff; }
          main button.info:hover svg path {
            fill: #fff; } }
  main .dropdown {
    width: 50px;
    padding-left: 7px;
    position: relative; }
    main .dropdown button {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      justify-content: space-around; }
      main .dropdown button .open svg {
        transform: rotate(180deg); }
    main .dropdown > div {
      display: flex;
      flex-direction: column;
      padding-left: 7px;
      border: 1px solid #4d5358;
      border-radius: 4px;
      background: #343a3f;
      position: absolute;
      width: 41px;
      top: 34px; }
      main .dropdown > div a {
        text-decoration: none;
        color: #c1c7cd;
        font-size: 12px;
        line-height: 1.3;
        padding-top: 8px; }
        main .dropdown > div a:last-child {
          padding-bottom: 8px; }
    @media (min-width: 768px) {
      main .dropdown {
        width: 118px;
        font-size: 14px;
        line-height: 1.1; }
        main .dropdown button {
          justify-content: center; }
          main .dropdown button div:nth-child(2) {
            margin-left: 8px;
            margin-right: 6px; }
          main .dropdown button div:last-child svg {
            position: relative;
            top: -2px; }
        main .dropdown > div {
          top: 42px;
          width: 118px;
          padding: 0;
          border-width: 2px;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box; }
          main .dropdown > div a {
            font-size: 14px;
            line-height: 1.1;
            padding: 6px;
            transition: all 0.3s; }
            main .dropdown > div a:hover {
              background: #4d5358; } }
  main .main-table {
    width: 272px;
    border-radius: 4px;
    padding: 12px;
    margin: auto;
    background-color: #fff;
    position: relative; }
    main .main-table.detail-payment {
      margin-top: 180px; }
    @media (min-width: 768px) {
      main .main-table {
        width: 480px;
        border-radius: 8px;
        padding: 40px; }
        main .main-table.detail-payment {
          margin-top: 250px; } }
    @media (min-width: 1200px) {
      main .main-table {
        margin-top: 0 !important; } }
  main footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-top: 12px;
    padding-bottom: 32px; }
    main footer p {
      display: flex;
      align-items: center;
      margin: 0;
      font-size: 10px;
      margin-right: 9px;
      color: #878d96; }
    @media (min-width: 768px) {
      main footer {
        margin-top: 144px;
        padding-bottom: 28px; }
        main footer p {
          font-size: 13px; } }

.overview-basis .back a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #697077;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  text-decoration: none; }
  .overview-basis .back a :hover {
    text-decoration: underline; }
  .overview-basis .back a svg {
    margin-right: 4px; }
  @media (min-width: 768px) {
    .overview-basis .back a {
      font-size: 14px; }
      .overview-basis .back a svg {
        margin-right: 8px; } }

.overview-basis .header {
  display: flex;
  flex-direction: column;
  margin: 20px 0; }
  .overview-basis .header div {
    margin-bottom: 8px; }
    .overview-basis .header div h1 {
      color: #343a3f;
      font-size: 20px;
      line-height: 1.4;
      font-weight: bold;
      text-align: center; }
  .overview-basis .header p {
    font-size: 12px;
    line-height: 1.3;
    color: #343a3f;
    margin: 0;
    text-align: center; }
  @media (min-width: 768px) {
    .overview-basis .header {
      margin-top: 36px;
      margin-bottom: 40px; }
      .overview-basis .header div {
        margin-bottom: 12px; }
        .overview-basis .header div h1 {
          font-size: 36px;
          line-height: 1.3; }
      .overview-basis .header p {
        font-size: 18px; } }

.overview-basis form {
  padding-bottom: 12px; }
  .overview-basis form > div {
    margin-bottom: 12px; }
    .overview-basis form > div label {
      text-transform: uppercase;
      position: relative;
      display: inline-block;
      width: 100%;
      font-size: 10px;
      line-height: 1.6;
      color: #697077;
      font-weight: bold; }
      .overview-basis form > div label input {
        width: 100%;
        position: relative;
        border: 1px solid #a2a9b0;
        border-radius: 4px;
        background: transparent;
        box-sizing: border-box;
        height: 32px;
        box-shadow: none;
        padding-left: 32px;
        font-size: 12px;
        font-weight: 600;
        color: #343a3f;
        margin-top: 4px;
        padding: 0 8px;
        background: #f2f4f8;
        border-color: #dde1e6; }
      .overview-basis form > div label a {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        cursor: pointer;
        text-transform: none;
        text-decoration: none;
        color: #1f46ed;
        font-weight: normal;
        right: 9px;
        bottom: 9px; }
        .overview-basis form > div label a span {
          margin-right: 5px;
          font-size: 12px;
          line-height: 1.3; }
        .overview-basis form > div label a.copy-text {
          bottom: 8px; }
  @media (min-width: 768px) {
    .overview-basis form {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between; }
      .overview-basis form > div {
        width: 100%;
        margin-bottom: 20px; }
        .overview-basis form > div:nth-child(2) {
          width: 49%;
          margin-bottom: 0; }
        .overview-basis form > div:nth-child(3) {
          width: 49%;
          margin-bottom: 0; }
        .overview-basis form > div label {
          font-size: 14px;
          line-height: 1.4;
          letter-spacing: 0.1em; }
          .overview-basis form > div label input {
            height: 48px;
            padding-left: 48px;
            font-size: 16px;
            margin-top: 8px;
            padding: 0 12px; }
            .overview-basis form > div label input:read-only {
              pointer-events: none; }
          .overview-basis form > div label a {
            right: 13px;
            bottom: 15px; }
            .overview-basis form > div label a span {
              margin-right: 7px;
              font-size: 14px;
              line-height: 1.4; }
            .overview-basis form > div label a.copy-text {
              bottom: 14px; } }

.overview-basis .group {
  display: flex;
  flex-direction: column; }
  .overview-basis .group div.qr-img {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; }
    .overview-basis .group div.qr-img img {
      width: 160px;
      height: 160px; }
  .overview-basis .group div.qr-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #343a3f;
    text-align: center;
    font-size: 12px;
    line-height: 1.3; }
    .overview-basis .group div.qr-text p {
      margin: 0;
      margin-bottom: 8px; }
      .overview-basis .group div.qr-text p.desktop {
        display: none; }
    .overview-basis .group div.qr-text a {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-transform: none;
      text-decoration: none;
      color: #1f46ed; }
      .overview-basis .group div.qr-text a svg {
        margin-right: 6px; }
  .overview-basis .group .bill {
    text-align: center;
    font-size: 12px;
    line-height: 1.3;
    color: #343a3f;
    margin-top: 24px; }
    .overview-basis .group .bill p {
      margin: 0;
      margin-bottom: 8px; }
    .overview-basis .group .bill div {
      display: flex;
      flex-direction: row;
      margin-left: auto;
      margin-right: auto;
      justify-content: space-between;
      max-width: 210px; }
      .overview-basis .group .bill div a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-transform: none;
        text-decoration: none;
        color: #1f46ed; }
        .overview-basis .group .bill div a svg {
          margin-right: 6px; }
  @media (min-width: 768px) {
    .overview-basis .group {
      display: flex;
      flex-direction: row; }
      .overview-basis .group .text-wrapper {
        display: flex;
        flex-direction: column;
        align-self: center; }
      .overview-basis .group div.qr-img {
        justify-content: flex-start;
        margin-bottom: 0;
        margin-right: 20px; }
        .overview-basis .group div.qr-img img {
          width: 192px;
          height: 192px; }
      .overview-basis .group div.qr-text {
        font-size: 14px;
        line-height: 1.4;
        text-align: left;
        margin-bottom: 20px; }
        .overview-basis .group div.qr-text a {
          display: none; }
        .overview-basis .group div.qr-text p {
          margin: 0; }
          .overview-basis .group div.qr-text p.mob {
            display: none; }
          .overview-basis .group div.qr-text p.desktop {
            display: block; }
      .overview-basis .group .bill {
        font-size: 14px;
        line-height: 1.4;
        text-align: left;
        margin: 0; }
        .overview-basis .group .bill div {
          margin: 0;
          max-width: max-content; }
          .overview-basis .group .bill div a:first-child {
            margin-right: 12px; }
          .overview-basis .group .bill div a svg {
            margin-right: 8px; } }

.pay-methods svg rect {
  transition: all 0.3s; }

.pay-methods h2 {
  color: #697077;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  margin: 0;
  margin-bottom: 6px; }

.pay-methods > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px; }
  .pay-methods > div a.btn {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    color: #fff;
    border-radius: 4px;
    background: #000;
    text-decoration: none;
    margin-bottom: 8px;
    justify-content: center;
    align-items: center;
    cursor: pointer; }
    .pay-methods > div a.btn div {
      margin-right: 10px; }
    .pay-methods > div a.btn:first-child {
      background: #1f46ed;
      margin-right: 0; }
      .pay-methods > div a.btn:first-child > div:first-child {
        margin-right: 5px; }
      .pay-methods > div a.btn:first-child .options {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0; }
        .pay-methods > div a.btn:first-child .options svg:first-child {
          margin-right: 8px; }
    .pay-methods > div a.btn:last-child {
      margin-bottom: 0; }
  .pay-methods > div button {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    box-sizing: border-box;
    height: 64px;
    width: 86px;
    display: flex;
    justify-content: center;
    align-items: center; }

.pay-methods .deffered button {
  background: rgba(13, 177, 240, 0.15); }

.pay-methods .internet-banking div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 7px; }
  .pay-methods .internet-banking div.first-row button:nth-child(1) {
    background: rgba(19, 80, 145, 0.1); }
  .pay-methods .internet-banking div.first-row button:nth-child(2) {
    background: rgba(204, 0, 51, 0.1); }
  .pay-methods .internet-banking div.first-row button:nth-child(3) {
    background: rgba(0, 153, 204, 0.1); }
  .pay-methods .internet-banking div.second-row button:nth-child(1) {
    background: rgba(227, 6, 19, 0.1); }
  .pay-methods .internet-banking div.second-row button:nth-child(2) {
    background: rgba(255, 242, 0, 0.25); }
  .pay-methods .internet-banking div.second-row button:nth-child(3) {
    background: #f1f1f1; }
  .pay-methods .internet-banking div.third-row {
    margin-bottom: 0; }
    .pay-methods .internet-banking div.third-row button:nth-child(1) {
      background: rgba(158, 195, 43, 0.2); }
    .pay-methods .internet-banking div.third-row button:nth-child(2) {
      background: linear-gradient(49.02deg, rgba(20, 7, 87, 0.1) 25.15%, rgba(39, 9, 83, 0.1) 28.78%, rgba(109, 16, 66, 0.1) 42.91%, rgba(164, 21, 53, 0.1) 55.65%, rgba(204, 25, 44, 0.1) 66.54%, rgba(228, 27, 38, 0.1) 75.16%, rgba(237, 28, 36, 0.1) 80.45%); }
    .pay-methods .internet-banking div.third-row button:nth-child(3) {
      background: rgba(13, 177, 240, 0.15); }

.pay-methods .others {
  margin-bottom: 0; }
  .pay-methods .others div {
    display: flex;
    flex-direction: row; }
    .pay-methods .others div button:first-child {
      margin-right: 7px;
      color: #343a3f;
      background: #f1f1f1;
      font-size: 12px;
      line-height: 1.3; }
    .pay-methods .others div button:nth-child(2) {
      background: rgba(255, 165, 0, 0.2); }

@media (min-width: 768px) {
  .pay-methods h2 {
    font-size: 14px;
    line-height: 1.1;
    margin-bottom: 10px; }
  .pay-methods .card {
    margin-bottom: 14px; }
  .pay-methods > div {
    margin-bottom: 20px; }
    .pay-methods > div a.btn {
      height: 64px; }
      .pay-methods > div a.btn:first-child .options svg:first-child {
        margin-left: 0; }
      .pay-methods > div a.btn:last-child {
        margin-bottom: 0; }
    .pay-methods > div button {
      width: 152px; }
  .pay-methods .deffered button {
    transition: all 0.3s; }
    .pay-methods .deffered button:hover {
      background: #0db1f0; }
      .pay-methods .deffered button:hover svg path:nth-child(2) {
        fill: #fff; }
      .pay-methods .deffered button:hover svg path:nth-child(3) {
        fill: #00b0f0; }
  .pay-methods .internet-banking div {
    margin-bottom: 12px; }
    .pay-methods .internet-banking div.first-row button {
      transition: all 0.3s; }
      .pay-methods .internet-banking div.first-row button:nth-child(1):hover {
        background: #135091; }
        .pay-methods .internet-banking div.first-row button:nth-child(1):hover svg path {
          fill: #fff; }
          .pay-methods .internet-banking div.first-row button:nth-child(1):hover svg path:last-child {
            fill: #ed1c24; }
      .pay-methods .internet-banking div.first-row button:nth-child(2):hover {
        background: #cc0033; }
        .pay-methods .internet-banking div.first-row button:nth-child(2):hover svg rect {
          stroke: #fff; }
        .pay-methods .internet-banking div.first-row button:nth-child(2):hover svg path:nth-child(1) {
          fill: #fff; }
        .pay-methods .internet-banking div.first-row button:nth-child(2):hover svg path:nth-child(2) {
          fill: #fff; }
      .pay-methods .internet-banking div.first-row button:nth-child(3):hover {
        background: #003366; }
        .pay-methods .internet-banking div.first-row button:nth-child(3):hover svg path:first-child {
          fill: #fff; }
    .pay-methods .internet-banking div.second-row button {
      transition: all 0.3s; }
      .pay-methods .internet-banking div.second-row button:nth-child(1):hover {
        background: #e30613; }
        .pay-methods .internet-banking div.second-row button:nth-child(1):hover svg rect {
          stroke: #ffed00; }
      .pay-methods .internet-banking div.second-row button:nth-child(2):hover {
        background: #fff200; }
      .pay-methods .internet-banking div.second-row button:nth-child(3):hover {
        background: #222222; }
    .pay-methods .internet-banking div.third-row {
      margin-bottom: 0; }
      .pay-methods .internet-banking div.third-row button {
        transition: all 0.3s; }
        .pay-methods .internet-banking div.third-row button:nth-child(1):hover {
          background: #9ec32b; }
        .pay-methods .internet-banking div.third-row button:nth-child(2) {
          position: relative; }
          .pay-methods .internet-banking div.third-row button:nth-child(2)::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: linear-gradient(49.02deg, #140757 25.15%, #270953 28.78%, #6d1042 42.91%, #a41535 55.65%, #cc192c 66.54%, #e41b26 75.16%, #ed1c24 80.45%);
            border-radius: 4px;
            transition: all 0.3s;
            opacity: 0; }
          .pay-methods .internet-banking div.third-row button:nth-child(2) svg {
            position: relative;
            z-index: 1; }
          .pay-methods .internet-banking div.third-row button:nth-child(2):hover::before {
            opacity: 1; }
          .pay-methods .internet-banking div.third-row button:nth-child(2):hover svg path {
            fill: #fff; }
        .pay-methods .internet-banking div.third-row button:nth-child(3):hover {
          background: #0db1f0; }
          .pay-methods .internet-banking div.third-row button:nth-child(3):hover svg path:last-child {
            fill: #fff; }
  .pay-methods .others {
    margin-bottom: 0; }
    .pay-methods .others div button {
      transition: all 0.3s; }
      .pay-methods .others div button:nth-child(1) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; }
        .pay-methods .others div button:nth-child(1):hover {
          background: #878d96;
          color: #fff; }
          .pay-methods .others div button:nth-child(1):hover svg path {
            fill: #fff; }
      .pay-methods .others div button:nth-child(2):hover {
        background: #f7931a; }
        .pay-methods .others div button:nth-child(2):hover svg path:nth-child(1) {
          fill: #fff; }
        .pay-methods .others div button:nth-child(2):hover svg path:nth-child(2) {
          fill: #f7931a; } }

.payment-info {
  position: absolute;
  top: -160px;
  width: 272px;
  margin-left: -12px; }
  .payment-info h2 {
    text-transform: uppercase;
    font-size: 10px;
    line-height: 1.6;
    color: #a2a9b0;
    margin: 0; }
    .payment-info h2:first-child {
      margin-bottom: 4px; }
    .payment-info h2:nth-child(2) {
      margin-bottom: 8px; }
  .payment-info .to-pay {
    margin-bottom: 16px; }
    .payment-info .to-pay div {
      color: #fff;
      font-size: 24px;
      line-height: 1;
      font-weight: 600; }
  .payment-info .dealer {
    margin-bottom: 24px; }
    .payment-info .dealer p {
      color: #fff;
      font-size: 14px;
      line-height: 1.4;
      font-weight: bold;
      margin: 0;
      margin-bottom: 2px; }
    .payment-info .dealer a {
      color: #fff;
      font-size: 14px;
      line-height: 1.4;
      font-weight: 300; }
  @media (min-width: 768px) {
    .payment-info {
      margin-left: -40px;
      top: -230px; }
      .payment-info h2 {
        font-size: 12px; }
        .payment-info h2:first-child {
          margin-bottom: 8px; }
        .payment-info h2:nth-child(2) {
          margin-bottom: 12px; }
      .payment-info .to-pay {
        margin-bottom: 40px; }
        .payment-info .to-pay div {
          font-size: 28px;
          line-height: 1.6; }
      .payment-info .dealer {
        margin-bottom: 0; }
        .payment-info .dealer p {
          font-size: 16px;
          line-height: 1.7; }
        .payment-info .dealer a {
          font-size: 16px;
          line-height: 1.7; }
          .payment-info .dealer a:hover {
            text-decoration: none; } }
  @media (min-width: 1200px) {
    .payment-info {
      left: 600px;
      top: 50%;
      margin-top: -25%;
      margin-left: 0; } }

.pay-other-method.overview-basis form {
  margin-bottom: 147px; }
  .pay-other-method.overview-basis form .specific-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8px; }
    .pay-other-method.overview-basis form .specific-info svg path {
      fill: #697077; }
    .pay-other-method.overview-basis form .specific-info p {
      font-size: 12px;
      line-height: 1;
      margin: 0;
      margin-left: 4px;
      color: #697077; }

.pay-with-internet-banking.overview-basis .header div {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .pay-with-internet-banking.overview-basis .header div .csob {
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    margin-bottom: 8px; }
  .pay-with-internet-banking.overview-basis .header div .csob-lg {
    display: none; }
  @media (min-width: 768px) {
    .pay-with-internet-banking.overview-basis .header div {
      display: flex;
      flex-direction: row; }
      .pay-with-internet-banking.overview-basis .header div .csob {
        display: none; }
      .pay-with-internet-banking.overview-basis .header div .csob-lg {
        display: block;
        margin-right: 10px; }
      .pay-with-internet-banking.overview-basis .header div h1 {
        margin-left: 10px; } }

.pay-with-internet-banking.overview-basis form {
  margin-bottom: 24px;
  padding-bottom: 0; }
  .pay-with-internet-banking.overview-basis form .btns {
    display: flex;
    flex-direction: column;
    margin-top: 20px; }
    .pay-with-internet-banking.overview-basis form .btns a {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 30px;
      width: 100%;
      font-size: 12px;
      font-weight: 600;
      line-height: 2.3;
      text-align: center;
      text-decoration: none;
      color: white;
      border-radius: 4px;
      border: 1px solid #1f46ed;
      background: #1f46ed; }
      .pay-with-internet-banking.overview-basis form .btns a span {
        margin-right: 6px; }
      .pay-with-internet-banking.overview-basis form .btns a span {
        margin-right: 6px; }
      .pay-with-internet-banking.overview-basis form .btns a:nth-child(2) {
        color: #1f46ed;
        background: transparent;
        border-color: #c1c7cd;
        margin-top: 8px; }
        .pay-with-internet-banking.overview-basis form .btns a:nth-child(2) svg path {
          fill: #1f46ed; }
  @media (min-width: 768px) {
    .pay-with-internet-banking.overview-basis form {
      margin-bottom: 40px; }
      .pay-with-internet-banking.overview-basis form .btns {
        margin-top: 28px; }
        .pay-with-internet-banking.overview-basis form .btns a {
          height: 46px;
          font-size: 16px;
          line-height: 1.4; }
          .pay-with-internet-banking.overview-basis form .btns a span {
            margin-right: 12px; } }

.pay-with-card .back a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #697077;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  text-decoration: none; }
  .pay-with-card .back a :hover {
    text-decoration: underline; }
  .pay-with-card .back a svg {
    margin-right: 4px; }
  @media (min-width: 768px) {
    .pay-with-card .back a {
      font-size: 14px; }
      .pay-with-card .back a svg {
        margin-right: 8px; } }

.pay-with-card .header {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; }
  .pay-with-card .header div {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 8px;
    justify-content: center;
    align-items: center; }
    .pay-with-card .header div svg:nth-child(1) {
      margin-right: 6px; }
    .pay-with-card .header div svg:nth-child(2) {
      margin-left: 6px; }
  .pay-with-card .header h1 {
    color: #343a3f;
    font-size: 20px;
    line-height: 1.4;
    font-weight: bold;
    text-align: center; }
  @media (min-width: 768px) {
    .pay-with-card .header {
      display: flex;
      flex-direction: row;
      margin-left: auto;
      margin-right: auto;
      justify-content: space-around;
      width: 350px;
      margin-top: 35px;
      margin-bottom: 40px; }
      .pay-with-card .header div {
        margin: 0; }
      .pay-with-card .header h1 {
        font-size: 36px;
        line-height: 1.3; } }

.pay-with-card form div {
  margin-bottom: 12px; }
  .pay-with-card form div label {
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    width: 100%;
    font-size: 10px;
    line-height: 1.6;
    color: #697077;
    font-weight: bold; }
    .pay-with-card form div label span .required {
      color: #eb5757; }
    .pay-with-card form div label::before {
      display: flex;
      align-items: center;
      position: absolute;
      left: 0;
      bottom: 0;
      height: 32px;
      margin: 0 10px; }
    .pay-with-card form div label input {
      width: 100%;
      position: relative;
      border: 1px solid #a2a9b0;
      border-radius: 4px;
      background: transparent;
      box-sizing: border-box;
      height: 32px;
      box-shadow: none;
      padding-left: 32px;
      font-size: 12px;
      font-weight: 600;
      color: #343a3f;
      margin-top: 4px; }
      .pay-with-card form div label input::placeholder {
        font-weight: normal;
        color: #a2a9b0; }
      .pay-with-card form div label input:focus-visible {
        outline: none;
        border: 2px solid #1f46ed; }
  .pay-with-card form div:nth-child(1) label::before {
    content: url("~@/assets/svg/Person.svg"); }
  .pay-with-card form div:nth-child(1) label:focus-within::before {
    content: url("~@/assets/svg/Person-active.svg"); }
  .pay-with-card form div:nth-child(2) label::before {
    content: url("~@/assets/svg/Card.svg"); }
  .pay-with-card form div:nth-child(2) label:focus-within::before {
    content: url("~@/assets/svg/Card-active.svg"); }
  .pay-with-card form div:nth-child(2) label.mastercard svg {
    position: absolute;
    width: 20.6px;
    height: 16px;
    right: 9px;
    bottom: 9px; }
  .pay-with-card form div:nth-child(2) label.visa svg {
    position: absolute;
    width: 20.6px;
    right: 9px;
    bottom: 9px; }
  .pay-with-card form div:nth-child(3) {
    display: flex;
    flex-direction: row; }
    .pay-with-card form div:nth-child(3) div {
      margin-bottom: 0; }
      .pay-with-card form div:nth-child(3) div:nth-child(1) {
        width: 50%;
        margin-right: 4px; }
        .pay-with-card form div:nth-child(3) div:nth-child(1) label::before {
          content: url("~@/assets/svg/Calendar.svg"); }
        .pay-with-card form div:nth-child(3) div:nth-child(1) label:focus-within::before {
          content: url("~@/assets/svg/Calendar-active.svg"); }
      .pay-with-card form div:nth-child(3) div:nth-child(2) {
        width: 50%;
        margin-left: 4px; }
        .pay-with-card form div:nth-child(3) div:nth-child(2) label::before {
          content: url("~@/assets/svg/Lock.svg"); }
        .pay-with-card form div:nth-child(3) div:nth-child(2) label:focus-within::before {
          content: url("~@/assets/svg/Lock-active.svg"); }
  .pay-with-card form div:nth-child(4) label::before {
    content: url("~@/assets/svg/Email.svg"); }
  .pay-with-card form div:nth-child(4) label:focus-within::before {
    content: url("~@/assets/svg/Email-active.svg"); }

.pay-with-card form button {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 4px;
  background: #1f46ed;
  color: #fff;
  font-size: 14px;
  line-height: 2;
  font-weight: 600; }

@media (min-width: 768px) {
  .pay-with-card form div {
    margin-bottom: 24px; }
    .pay-with-card form div label {
      font-size: 14px;
      line-height: 1.4;
      letter-spacing: 0.1em; }
      .pay-with-card form div label input {
        height: 48px;
        padding-left: 48px;
        font-size: 16px;
        margin-top: 8px; }
        .pay-with-card form div label input:focus-visible {
          border: 1px solid #1f46ed;
          outline: 3px solid rgba(31, 70, 237, 0.2); }
      .pay-with-card form div label::before {
        height: 48px;
        margin: 0 18px; }
    .pay-with-card form div:nth-child(1) label::before {
      content: url("~@/assets/svg/desktop/Person_lg.svg"); }
    .pay-with-card form div:nth-child(1) label:focus-within::before {
      content: url("~@/assets/svg/desktop/Person-active_lg.svg"); }
    .pay-with-card form div:nth-child(2) label::before {
      content: url("~@/assets/svg/desktop/Card_lg.svg"); }
    .pay-with-card form div:nth-child(2) label:focus-within::before {
      content: url("~@/assets/svg/desktop/Card-active_lg.svg"); }
    .pay-with-card form div:nth-child(2) label.mastercard svg {
      width: 40px;
      height: 31px;
      right: 20px;
      bottom: 10px; }
    .pay-with-card form div:nth-child(2) label.visa svg {
      width: 40px;
      right: 20px;
      bottom: 9px; }
    .pay-with-card form div:nth-child(3) div:nth-child(1) {
      margin-right: 10px; }
      .pay-with-card form div:nth-child(3) div:nth-child(1) label::before {
        content: url("~@/assets/svg/desktop/Calendar_lg.svg"); }
      .pay-with-card form div:nth-child(3) div:nth-child(1) label:focus-within::before {
        content: url("~@/assets/svg/desktop/Calendar-active_lg.svg"); }
    .pay-with-card form div:nth-child(3) div:nth-child(2) {
      margin-left: 10px; }
      .pay-with-card form div:nth-child(3) div:nth-child(2) label::before {
        content: url("~@/assets/svg/desktop/Lock_lg.svg"); }
      .pay-with-card form div:nth-child(3) div:nth-child(2) label:focus-within::before {
        content: url("~@/assets/svg/desktop/Lock-active_lg.svg"); }
    .pay-with-card form div:nth-child(4) label::before {
      content: url("~@/assets/svg/desktop/Email_lg.svg"); }
    .pay-with-card form div:nth-child(4) label:focus-within::before {
      content: url("~@/assets/svg/desktop/Email-active_lg.svg"); }
  .pay-with-card form button {
    height: 60px;
    font-size: 20px;
    line-height: 1.4; } }

.loading-wrapper {
  margin-top: 176px;
  margin-bottom: 184px; }
  .loading-wrapper .loader {
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: conic-gradient(rgba(31, 70, 237, 0.15), #1f46ed);
    position: relative;
    animation: spin 1.4s linear infinite;
    transform: translateZ(0); }
    .loading-wrapper .loader::after {
      background: #fff;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      content: '';
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0; }
  .loading-wrapper .text {
    margin-top: 40px;
    text-align: center; }
    .loading-wrapper .text h1 {
      color: #343a3f;
      font-size: 20px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 4px; }
    .loading-wrapper .text p {
      color: #697077;
      font-size: 14px;
      line-height: 1.4; }
      .loading-wrapper .text p a {
        color: #697077; }
        .loading-wrapper .text p a:hover {
          text-decoration: none; }
  @media (min-width: 768px) {
    .loading-wrapper {
      margin-top: 192px;
      margin-bottom: 228px; }
      .loading-wrapper .loader {
        width: 120px;
        height: 120px; }
        .loading-wrapper .loader::after {
          width: 100px;
          height: 100px; }
      .loading-wrapper .text {
        margin-top: 80px; }
        .loading-wrapper .text h1 {
          font-size: 32px;
          line-height: 1.3;
          margin-bottom: 14px; }
        .loading-wrapper .text p {
          font-size: 20px; } }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.payment-failed {
  margin-top: 53px;
  margin-bottom: 61px; }
  @media (min-width: 768px) {
    .payment-failed {
      margin-top: 70px;
      margin-bottom: 0; } }
  .payment-failed .header {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 12px; }
    .payment-failed .header svg {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 24px; }
    .payment-failed .header h1 {
      font-size: 20px;
      line-height: 1.4;
      font-weight: bold;
      color: #343a3f;
      margin-bottom: 4px; }
    .payment-failed .header p {
      font-size: 14px;
      line-height: 1.4;
      color: #697077;
      margin: 0; }
    @media (min-width: 768px) {
      .payment-failed .header {
        margin-bottom: 40px; }
        .payment-failed .header svg {
          margin-bottom: 40px; }
        .payment-failed .header h1 {
          font-size: 32px;
          line-height: 1.25;
          margin-bottom: 12px; }
        .payment-failed .header p {
          font-size: 20px; } }
  .payment-failed .list {
    margin-bottom: 36px; }
    .payment-failed .list p {
      font-size: 12px;
      line-height: 2.3;
      font-weight: bold;
      color: #343a3f;
      text-align: center;
      margin: 0;
      margin-bottom: 4px; }
    .payment-failed .list ul {
      margin: 0; }
      .payment-failed .list ul li {
        list-style: none;
        position: relative;
        font-size: 12px;
        line-height: 1.4;
        color: #343a3f;
        margin-bottom: 12px; }
        .payment-failed .list ul li:last-child {
          margin-bottom: 0; }
        .payment-failed .list ul li svg {
          position: absolute;
          left: -20px; }
    @media (min-width: 768px) {
      .payment-failed .list {
        margin-bottom: 112px; }
        .payment-failed .list p {
          font-size: 16px;
          line-height: 1.75;
          margin-bottom: 12px; }
        .payment-failed .list ul {
          max-width: 293px;
          margin-left: auto;
          margin-right: auto; }
          .payment-failed .list ul li {
            font-size: 16px;
            line-height: 1.25;
            margin-bottom: 16px; }
            .payment-failed .list ul li svg {
              height: 20px;
              width: 20px;
              left: -32px; } }
  .payment-failed .btns button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100%;
    font-size: 12px;
    font-weight: 600;
    line-height: 2.3;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    border: 1px solid #1f46ed;
    background: #1f46ed; }
    .payment-failed .btns button span {
      margin-right: 6px; }
    .payment-failed .btns button:nth-child(2) {
      color: #1f46ed;
      background: transparent;
      border-color: #c1c7cd;
      margin-top: 8px; }
      .payment-failed .btns button:nth-child(2) svg path {
        fill: #1f46ed; }
    @media (min-width: 768px) {
      .payment-failed .btns button {
        height: 46px;
        font-size: 16px;
        line-height: 1.4; }
        .payment-failed .btns button span {
          margin-right: 12px; }
        .payment-failed .btns button:nth-child(2) {
          margin-top: 12px; } }

.waiting-for-payment {
  margin-top: 149px; }
  .waiting-for-payment .waiting {
    margin-bottom: 161px;
    text-align: center; }
    .waiting-for-payment .waiting svg {
      margin-bottom: 12px; }
    .waiting-for-payment .waiting h1 {
      font-size: 20px;
      line-height: 1.4;
      font-weight: bold;
      color: #343a3f;
      margin-bottom: 4px; }
    .waiting-for-payment .waiting p {
      font-size: 14px;
      line-height: 1.4;
      color: #697077;
      font-weight: 400;
      margin: 0; }
    @media (min-width: 768px) {
      .waiting-for-payment .waiting {
        margin-bottom: 264px; }
        .waiting-for-payment .waiting svg {
          margin-bottom: 40px; }
        .waiting-for-payment .waiting h1 {
          font-size: 32px;
          line-height: 1.25;
          margin-bottom: 12px; }
        .waiting-for-payment .waiting p {
          font-size: 20px; } }
  .waiting-for-payment .bottom p {
    font-size: 12px;
    line-height: 1.3;
    color: #697077;
    font-weight: 400;
    text-align: center;
    margin: 0;
    margin-bottom: 12px; }
  .waiting-for-payment .bottom button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100%;
    font-size: 12px;
    font-weight: 600;
    line-height: 2.3;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    border: 1px solid #1f46ed;
    background: #1f46ed;
    color: #1f46ed;
    background: transparent;
    border-color: #c1c7cd; }
    .waiting-for-payment .bottom button span {
      margin-right: 6px; }
    .waiting-for-payment .bottom button svg path {
      fill: #1f46ed; }
  @media (min-width: 768px) {
    .waiting-for-payment .bottom p {
      font-size: 16px;
      line-height: 1.5; }
    .waiting-for-payment .bottom button {
      height: 46px;
      font-size: 16px;
      line-height: 1.4; }
      .waiting-for-payment .bottom button span {
        margin-right: 12px; } }
