.overview-basis {
	.back {
		a {
			@include row;
			justify-content: center;
			align-items: center;
			color: $h2-color;
			font-weight: 600;
			font-size: 12px;
			line-height: 1.3;
			text-decoration: none;

			:hover {
				text-decoration: underline;
			}

			svg {
				margin-right: 4px;
			}

			@media (min-width: $tablet) {
				font-size: 14px;

				svg {
					margin-right: 8px;
				}
			}
		}
	}

	.header {
		@include col;
		margin: 20px 0;

		div {
			margin-bottom: 8px;

			h1 {
				color: $main-background;
				font-size: 20px;
				line-height: 1.4;
				font-weight: bold;
				text-align: center;
			}
		}

		p {
			font-size: 12px;
			line-height: 1.3;
			color: $main-background;
			margin: 0;
			text-align: center;
		}

		@media (min-width: $tablet) {
			margin-top: 36px;
			margin-bottom: 40px;

			div {
				margin-bottom: 12px;
				h1 {
					font-size: 36px;
					line-height: 1.3;
				}
			}

			p {
				font-size: 18px;
			}
		}
	}

	form {
		padding-bottom: 12px;

		> div {
			margin-bottom: 12px;

			label {
				text-transform: uppercase;
				position: relative;
				display: inline-block;
				width: 100%;
				font-size: 10px;
				line-height: 1.6;
				color: $h2-color;
				font-weight: bold;

				input {
					@include form-input;
					padding: 0 8px;
					background: #f2f4f8;
					border-color: #dde1e6;
				}

				a {
					@include row;
					align-items: center;
					position: absolute;
					cursor: pointer;
					text-transform: none;
					text-decoration: none;
					color: $btn-primary;
					font-weight: normal;
					right: 9px;
					bottom: 9px;

					span {
						margin-right: 2px;
					}

					&.copy-text {
						bottom: 8px;
					}
				}
			}
		}

		@media (min-width: $tablet) {
			@include row;
			flex-wrap: wrap;
			justify-content: space-between;

			> div {
				width: 100%;
				margin-bottom: 20px;

				&:nth-child(2) {
					width: 49%;
					margin-bottom: 0;
				}

				&:nth-child(3) {
					width: 49%;
					margin-bottom: 0;
				}

				label {
					font-size: 14px;
					line-height: 1.4;
					letter-spacing: 0.1em;

					input {
						@include form-input-desktop;
						padding: 0 12px;
					}

					a {
						right: 13px;
						bottom: 15px;

						span {
							margin-right: 4px;
						}

						&.copy-text {
							bottom: 14px;
						}
					}
				}
			}
		}
	}

	.group {
		@include col;

		div {
			&.qr-img {
				display: flex;
				justify-content: center;
				margin-bottom: 20px;

				img {
					width: 160px;
					height: 160px;
				}
			}

			&.qr-text {
				@include col;
				justify-content: center;
				color: $main-background;
				text-align: center;
				font-size: 12px;
				line-height: 1.3;

				p {
					margin: 0;
					margin-bottom: 8px;
				}

				a {
					@include row;
					justify-content: center;
					align-items: center;
					text-transform: none;
					text-decoration: none;
					color: $btn-primary;

					svg {
						margin-right: 6px;
					}
				}
			}
		}

		.bill {
			text-align: center;
			font-size: 12px;
			line-height: 1.3;
			color: $main-background;
			margin-top: 24px;

			p {
				margin: 0;
				margin-bottom: 8px;
			}

			div {
				@include row;
				@include mx-auto;
				justify-content: space-between;
				max-width: 210px;

				a {
					@include row;
					align-items: center;
					justify-content: center;
					text-transform: none;
					text-decoration: none;
					color: $btn-primary;

					svg {
						margin-right: 6px;
					}
				}
			}
		}

		@media (min-width: $tablet) {
			@include row;

			.text-wrapper {
				@include col;
				align-self: center;
			}

			div {
				&.qr-img {
					justify-content: flex-start;
					margin-bottom: 0;
					margin-right: 20px;

					img {
						width: 192px;
						height: 192px;
					}
				}

				&.qr-text {
					font-size: 14px;
					line-height: 1.4;
					text-align: left;
					margin-bottom: 20px;

					a {
						display: none;
					}

					p {
						margin: 0;
					}
				}
			}

			.bill {
				font-size: 14px;
				line-height: 1.4;
				text-align: left;
				margin: 0;

				div {
					margin: 0;
					max-width: max-content;

					a {
						&:first-child {
							margin-right: 12px;
						}

						svg {
							margin-right: 8px;
						}
					}
				}
			}
		}
	}
}
