.pay-with-card {
	margin-top: 26px;

	.back {
		@include back;
	}

	.header {
		@include col;
		margin-bottom: 20px;

		div {
			@include row;
			margin-top: 20px;
			margin-bottom: 8px;
			justify-content: center;
			align-items: center;

			svg {
				&#visa {
					margin-right: 6px;
				}

				&#mastercard {
					margin-left: 6px;
				}
			}
		}

		h1 {
			color: $main-background;
			font-size: 20px;
			line-height: 1.4;
			font-weight: bold;
			text-align: center;
		}

		@media (min-width: $tablet) {
			@include mx-auto;
			margin-top: 29px;
			margin-bottom: 20px;

			div {
				margin-top: 0;

				svg {
					&#visa {
						height: 16px;
						width: 50px;
					}

					&#mastercard {
						height: 32px;
						width: 42px;
					}
				}
			}

			h1 {
				font-size: 24px;
				line-height: 1.3;
			}
		}

		// @media (min-width: $desktop-width) and (min-height: $desktop-height) {
		// 	@include row;
		// 	@include mx-auto;
		// 	justify-content: space-around;
		// 	width: 350px;
		// 	margin-top: 35px;
		// 	margin-bottom: 40px;

		// 	div {
		// 		margin: 0;
		// 	}

		// 	h1 {
		// 		font-size: 36px;
		// 		line-height: 1.3;
		// 	}
		// }
	}

	form {
		div {
			margin-bottom: 12px;

			label {
				text-transform: uppercase;
				position: relative;
				display: inline-block;
				width: 100%;
				font-size: 10px;
				line-height: 1.6;
				color: $h2-color;
				font-weight: bold;

				span {
					.required {
						color: $required;
					}
				}

				&::before {
					@include input-img;
					margin: 0 10px;
				}

				input {
					@include form-input;

					&::placeholder {
						font-weight: normal;
						color: $h2-payment-color;
					}

					&:focus-visible {
						outline: none;
						border: 2px solid $visa-mastercard-color;
					}
				}
			}

			&:nth-child(1) {
				label {
					&::before {
						content: url('~@/assets/svg/Person.svg');
					}

					&:focus-within {
						&::before {
							content: url('~@/assets/svg/Person-active.svg');
						}
					}
				}
			}

			&:nth-child(2) {
				label {
					&::before {
						content: url('~@/assets/svg/Card.svg');
					}

					&:focus-within {
						&::before {
							content: url('~@/assets/svg/Card-active.svg');
						}
					}

					&.mastercard {
						svg {
							position: absolute;
							width: 20.6px;
							height: 16px;
							right: 9px;
							bottom: 9px;
						}
					}

					&.visa {
						svg {
							position: absolute;
							width: 20.6px;
							right: 9px;
							bottom: 9px;
						}
					}
				}
			}

			&:nth-child(3) {
				@include row;

				div {
					margin-bottom: 0;

					&:nth-child(1) {
						width: 50%;
						margin-right: 4px;
						label {
							&::before {
								content: url('~@/assets/svg/Calendar.svg');
							}

							&:focus-within {
								&::before {
									content: url('~@/assets/svg/Calendar-active.svg');
								}
							}
						}
					}
					&:nth-child(2) {
						width: 50%;
						margin-left: 4px;
						label {
							&::before {
								content: url('~@/assets/svg/Lock.svg');
							}

							&:focus-within {
								&::before {
									content: url('~@/assets/svg/Lock-active.svg');
								}
							}
						}
					}
				}
			}

			&:nth-child(4) {
				label {
					&::before {
						content: url('~@/assets/svg/Email.svg');
					}

					&:focus-within {
						&::before {
							content: url('~@/assets/svg/Email-active.svg');
						}
					}
				}
			}
		}

		button {
			@include btn;
		}

		@media (min-width: $tablet) {
			div {
				margin-bottom: 20px;

				label {
					font-size: 12px;
					line-height: 1.4;
					letter-spacing: 0.1em;

					input {
						@include form-input-tablet;

						&:focus-visible {
							@include focus-input;
						}
					}

					&::before {
						height: $input-height-tablet;
						margin: 0 18px;
					}
				}

				&:nth-child(1) {
					label {
						&::before {
							content: url('~@/assets/svg/desktop/Person_lg.svg');
						}

						&:focus-within {
							&::before {
								content: url('~@/assets/svg/desktop/Person-active_lg.svg');
							}
						}
					}
				}

				&:nth-child(2) {
					label {
						&::before {
							content: url('~@/assets/svg/desktop/Card_lg.svg');
						}

						&:focus-within {
							&::before {
								content: url('~@/assets/svg/desktop/Card-active_lg.svg');
							}
						}

						&.mastercard {
							svg {
								width: 40px;
								height: 31px;
								right: 20px;
								bottom: 6px;
							}
						}

						&.visa {
							svg {
								width: 40px;
								right: 20px;
								bottom: 15px;
							}
						}
					}
				}

				&:nth-child(3) {
					div {
						&:nth-child(1) {
							margin-right: 10px;
							label {
								&::before {
									content: url('~@/assets/svg/desktop/Calendar_lg.svg');
								}

								&:focus-within {
									&::before {
										content: url('~@/assets/svg/desktop/Calendar-active_lg.svg');
									}
								}
							}
						}
						&:nth-child(2) {
							margin-left: 10px;
							label {
								&::before {
									content: url('~@/assets/svg/desktop/Lock_lg.svg');
								}

								&:focus-within {
									&::before {
										content: url('~@/assets/svg/desktop/Lock-active_lg.svg');
									}
								}
							}
						}
					}
				}

				&:nth-child(4) {
					margin-bottom: 84px;

					label {
						&::before {
							content: url('~@/assets/svg/desktop/Email_lg.svg');
						}

						&:focus-within {
							&::before {
								content: url('~@/assets/svg/desktop/Email-active_lg.svg');
							}
						}
					}
				}
			}

			button {
				@include btn-tablet;
			}
		}

		// @media (min-width: $desktop-width) and (min-height: $desktop-height) {
		// 	div {
		// 		margin-bottom: 24px;

		// 		label {
		// 			font-size: 14px;
		// 			line-height: 1.4;
		// 			letter-spacing: 0.1em;

		// 			input {
		// 				@include form-input-desktop;

		// 				&:focus-visible {
		// 					@include focus-input;
		// 				}
		// 			}

		// 			&::before {
		// 				height: $input-height-desktop;
		// 			}
		// 		}

		// 		&:nth-child(2) {
		// 			label {
		// 				&.mastercard {
		// 					svg {
		// 						width: 40px;
		// 						height: 31px;
		// 						right: 20px;
		// 						bottom: 10px;
		// 					}
		// 				}

		// 				&.visa {
		// 					svg {
		// 						width: 40px;
		// 						right: 20px;
		// 						bottom: 9px;
		// 					}
		// 				}
		// 			}
		// 		}

		// 		&:nth-child(4) {
		// 			margin-bottom: 40px;
		// 		}
		// 	}

		// 	button {
		// 		@include btn-desktop;
		// 	}
		// }
	}
}
