.pay-with-card {
	.back {
		a {
			@include row;
			justify-content: center;
			align-items: center;
			color: $h2-color;
			font-weight: 600;
			font-size: 12px;
			line-height: 1.3;
			text-decoration: none;

			:hover {
				text-decoration: underline;
			}

			svg {
				margin-right: 4px;
			}

			@media (min-width: $tablet) {
				font-size: 14px;

				svg {
					margin-right: 8px;
				}
			}
		}
	}

	.header {
		@include col;
		margin-bottom: 20px;

		div {
			@include row;
			margin-top: 20px;
			margin-bottom: 8px;
			justify-content: center;
			align-items: center;

			svg {
				&:nth-child(1) {
					margin-right: 6px;
				}

				&:nth-child(2) {
					margin-left: 6px;
				}
			}
		}

		h1 {
			color: $main-background;
			font-size: 20px;
			line-height: 1.4;
			font-weight: bold;
			text-align: center;
		}

		@media (min-width: $tablet) {
			@include row;
			@include mx-auto;
			justify-content: space-around;
			width: 350px;
			margin-top: 35px;
			margin-bottom: 40px;

			div {
				margin: 0;
			}

			h1 {
				font-size: 36px;
				line-height: 1.3;
			}
		}
	}

	form {
		div {
			margin-bottom: 12px;

			label {
				text-transform: uppercase;
				position: relative;
				display: inline-block;
				width: 100%;
				font-size: 10px;
				line-height: 1.6;
				color: $h2-color;
				font-weight: bold;

				span {
					.required {
						color: $required;
					}
				}

				&::before {
					@include input-img;
					margin: 0 10px;
				}

				input {
					@include form-input;

					&::placeholder {
						font-weight: normal;
						color: $h2-payment-color;
					}

					&:focus-visible {
						@include focus-input;
					}
				}
			}

			&:nth-child(1) {
				label {
					&::before {
						content: url('~@/assets/svg/Person.svg');
					}
				}
			}

			&:nth-child(2) {
				label {
					&::before {
						content: url('~@/assets/svg/Card.svg');
					}
				}
			}

			&:nth-child(3) {
				@include row;

				div {
					margin-bottom: 0;

					&:nth-child(1) {
						width: 50%;
						margin-right: 4px;
						label {
							&::before {
								content: url('~@/assets/svg/Calendar.svg');
							}
						}
					}
					&:nth-child(2) {
						width: 50%;
						margin-left: 4px;
						label {
							&::before {
								content: url('~@/assets/svg/Lock.svg');
							}
						}
					}
				}
			}

			&:nth-child(4) {
				label {
					&::before {
						content: url('~@/assets/svg/Email.svg');
					}
				}
			}
		}

		button {
			@include btn;
		}

		@media (min-width: $tablet) {
			div {
				margin-bottom: 24px;

				label {
					font-size: 14px;
					line-height: 1.4;
					letter-spacing: 0.1em;

					input {
						@include form-input-desktop;
					}

					&::before {
						@include input-img-desktop;
						margin: 0 18px;
					}
				}

				&:nth-child(1) {
					label {
						&::before {
							content: url('~@/assets/svg/desktop/Person_lg.svg');
						}
					}
				}

				&:nth-child(2) {
					label {
						&::before {
							content: url('~@/assets/svg/desktop/Card_lg.svg');
						}
					}
				}

				&:nth-child(3) {
					div {
						&:nth-child(1) {
							margin-right: 10px;
							label {
								&::before {
									content: url('~@/assets/svg/desktop/Calendar_lg.svg');
								}
							}
						}
						&:nth-child(2) {
							margin-left: 10px;
							label {
								&::before {
									content: url('~@/assets/svg/desktop/Lock_lg.svg');
								}
							}
						}
					}
				}

				&:nth-child(4) {
					label {
						&::before {
							content: url('~@/assets/svg/desktop/Email_lg.svg');
						}
					}
				}
			}

			button {
				@include btn-desktop;
			}
		}
	}
}
