$border-radius: 4px;
$border-radius-lg: 8px;

$main-background: #343a3f;
$main-color: #c1c7cd;
$main-border: #4d5358;
$footer-color: #878d96;

//hovers
$border-color-hover: #a2a9b0;
//
$h2-color: #697077;
$visa-mastercard-color: #1f46ed;

//
$h2-payment-color: #a2a9b0;

//
$required: #eb5757;
$input-height: 32px;
$input-height-tablet: 44px;
$input-height-desktop: 48px;
$btn-primary: #1f46ed;

//breakpoints
$tablet: 768px;
$desktop-sm: 992px;
$desktop-width: 1400px;
$desktop-height: 1000px;
