$border-radius: 4px;
$border-radius-lg: 8px;

$main-background: #343a3f;
$main-color: #c1c7cd;
$main-border: #4d5358;
$footer-color: #878d96;

//hovers
$border-color-hover: #a2a9b0;
//
$h2-color: #697077;
$visa-mastercard-color: #1f46ed;

//
$h2-payment-color: #a2a9b0;

//breakpoints
$tablet: 768px;
$desktop: 1200px;
